@menuitem_size: 1.5em;
@menu_margin: 0.15em;
@menu_border_width: 0.1em;

.prosemirror_wrapper {
    position: relative;
    //padding-top: 2em;
    padding-top: @menuitem_size + 2 * @menu_margin + 2 * @menu_border_width;
}

.menubar {
    position: absolute;
    top: 0;
    display: flex;
    background: @ini_background;

    .menuicon {
        width: @menuitem_size;
        text-align: center;

        svg {
            width: @menuitem_size;
            height: @menuitem_size;
            fill: @ini_text;
        }
    }

    .menulabel {
        min-width: @menuitem_size;
        padding: 0 3px;
        color: @ini_text;
    }

    .menuitem {
        display: inline-block;
        height: @menuitem_size;
        margin: @menu_margin;
        border: @menu_border_width solid @ini_border;
        cursor: pointer;

        .menulabel {
            display: none;
        }

        &.dropdown {
            margin: 0;
            border: 0;

            .menulabel {
                display: block;
            }
        }

        &.is-active {
            border-color: @ini_link;

            > .menuicon svg {
                fill: @ini_link;
            }

            > .menulabel {
                color: @ini_link;
            }
        }

        &.is-disabled {
            pointer-events: none;

            > .menuicon svg {
                fill: @ini_border;
            }

            > .menulabel {
                color: @ini_border;
            }
        }
    }

    .dropdown_content {
        position: relative;
        top: 3px;
        max-width: 300px;
        background-color: @ini_background;
        outline: 1px dotted @ini_border;

        .menuitem {
            display: flex;

            .menulabel {
                display: inline;
            }
        }
    }
}
